.logo {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 15px;
  height: 30px;
}

.header_section {
  display: flex;
  justify-content: center;
}
.header_section .header_section--img {
  height: 40px;
  margin-top: 20px;
}
.header_section a {
  color: black;
}
.header_section .header_section--icon {
  position: absolute;
  left: 30px;
  margin-top: 20px;
  font-size: 27px;
}

footer {
  position: relative;
  background-color: #353535;
  color: white;
  margin: 0;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-bottom: -10px;
}
footer .logo_footer {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
  margin-left: 15px;
  margin-top: 30px;
  margin-right: 20px;
  width: 130px;
}
footer .list_footer {
  list-style: none;
  font-size: 16px;
  padding: 0;
  margin-left: 15px;
}
footer .list_footer li {
  gap: 7px;
}
footer .list_footer li a {
  text-decoration: none;
  color: white;
}
footer .list_footer .icon_footer {
  font-size: 11px;
  margin-right: 10px;
}

.section_explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 65px;
}
.section_explore .section_explore--title {
  margin: 30px 20px 0 20px;
  font-size: 24px;
  font-weight: 700;
}
.section_explore .section_explore--p {
  font-size: 18px;
  font-weight: 300;
}
.section_explore .btn_explore {
  width: 70%;
  align-self: center;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 50px;
  padding: 20px 22px 20px 22px;
  color: white;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: -1px 10px 25px -8px rgb(79, 72, 79);
}
.section_explore .btn_explore:hover {
  background: linear-gradient(#ED87D1, #B876E0);
  box-shadow: 0px 6px 39px 22px rgba(0, 0, 0, 0.1);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 40px 15px 40px 15px;
}
.fonctionnement .fonctionnement--title {
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0 0 0;
}
.fonctionnement .fonctionnement--list {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}

.fonctionnement_link--number {
  position: relative;
  right: 15px;
  border: 1px solid black;
  border-radius: 50px;
  border: none;
  text-align: center;
  background: #9356DC;
  color: white;
  width: 26px;
  height: 25px;
  font-size: 20px;
  top: 54px;
}

.fonctionnement_link--btn {
  width: 100%;
  border-radius: 17px;
  border: none;
  background-color: #F6F6F6;
  box-shadow: -1px 10px 25px -8px rgb(79, 72, 79);
  font-size: 17px;
  padding: 30px;
}
.fonctionnement_link--btn .fonctionnement_link--icon {
  color: gray;
  position: relative;
  font-size: 20px;
  margin-right: 30px;
}

.fonctionnement_link--btn:hover .fonctionnement_link--icon {
  color: #9357DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 40px;
}
.restaurants .restaurants_title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 70px;
  padding-top: 60px;
}
.restaurants .restaurant_cards--link {
  text-decoration: none;
}

.card {
  background-color: white;
  margin: 15px 20px 25px 20px;
  border-radius: 15px;
  padding-bottom: 20px;
  position: relative;
}
.card .card_new {
  position: absolute;
  color: #008766;
  font-size: 14px;
  background-color: #99E2D0;
  padding: 8px 15px 8px 15px;
  border-radius: 2px;
  right: 18px;
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-txt--title {
  font-size: 18px;
  color: black;
  margin: 20px 0 5px 15px;
}

.card-ville {
  color: black;
  font-size: 17px;
  margin: 0 0 5px 15px;
}

.heart-container .heart-icon {
  position: absolute;
  opacity: 1;
}
.heart-container .heart-icon-fill {
  position: relative; /*relative anciennement*/
  opacity: 0;
  transition: 0.6s ease-in;
}
.heart-container .heart-icon-fill:hover {
  opacity: 1;
}
.heart-container .heart-icon-fill:not(:hover) {
  opacity: 0;
}

.section_ville--element {
  display: flex;
  align-items: center;
}

.section_ville {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  filter: drop-shadow(-3px 3px 5px #918d8d);
}
.section_ville .icon_location {
  padding-right: 15px;
}

.image_restaurant {
  margin-top: 20px;
  position: relative;
}
.image_restaurant img {
  width: 100%;
  height: 280px;
}

.menu {
  margin-top: -100px;
  padding-top: 20px;
  border-radius: 50px 50px 0 0;
  background-color: #F2F2F2;
  width: 100%;
  position: relative;
}

.restaurant_heart {
  position: relative;
  font-family: "Shrikhand";
}
.restaurant_heart .restaurant_name {
  margin-bottom: 50px;
  font-family: "Shrikhand";
  margin-left: 15px;
}
.restaurant_heart .heart-container_ficherestau {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 40px;
}
.restaurant_heart .heart-container_ficherestau .heart-icon {
  font-size: 30px;
  color: black;
  position: absolute;
  opacity: 1;
}
.restaurant_heart .heart-container_ficherestau .heart-icon-fill {
  font-size: 30px;
  position: relative;
  opacity: 0;
  transition: 0.6s ease-in;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.restaurant_heart .heart-container_ficherestau .heart-icon-fill:hover {
  opacity: 1;
}
.restaurant_heart .heart-container_ficherestau .heart-icon-fill:not(:hover) {
  opacity: 0;
}

@keyframes fondu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entrees {
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0;
  animation: fondu 1s forwards;
  animation-delay: 1s;
}
.entrees .entrees--title {
  margin-bottom: 5px;
  font-size: 20px;
}

.dish {
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  border-radius: 23px;
  position: relative;
  box-shadow: -1px 10px 25px -8px rgb(79, 72, 79);
}
.dish .dish--title {
  margin: 0 0 5px 0;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish .dish--description {
  font-size: 18px;
  width: 90%;
  display: inline-block;
}
.dish .dish--description p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish .dish--price {
  margin-top: 5px;
  justify-content: end;
}

.plats {
  margin: 50px 15px 30px 15px;
  opacity: 0;
  animation: fondu 1s forwards;
  animation-delay: 2s;
}
.plats .plats--title {
  margin-bottom: 5px;
  font-size: 20px;
}

.desserts {
  margin: 50px 15px 30px 15px;
  opacity: 0;
  animation: fondu 1s forwards;
  animation-delay: 3s;
}
.desserts .desserts--title {
  margin-bottom: 5px;
  font-size: 20px;
}

.custom-hr {
  border: none;
  border-bottom: 4px solid #99E2D0;
  width: 15%;
  margin-left: 0;
  padding-top: 0px;
  margin-top: 0;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 40px 0;
}
.btn_container .btn_commander {
  width: 200px;
  font-size: 20px;
  border-radius: 25px;
  padding: 15px 20px 15px 20px;
  color: white;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
}
.btn_container .btn_commander:hover {
  background: linear-gradient(#ED87D1, #B876E0);
  box-shadow: 0px 6px 39px 22px rgba(0, 0, 0, 0.1);
}

/***** coche de validation du plat *****/
.accroche_loader {
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.loader {
  bottom: 300px;
  width: 95%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  height: auto;
  position: absolute;
  animation: fadeOut 1s ease 3s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #9E59DC;
  padding: 4px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #9E59DC;
  border-radius: 10px;
  animation: animate 3s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    background-color: #E985D2;
  }
  50% {
    width: 50%;
    background-color: #E985D2;
  }
  100% {
    width: 100%;
    background-color: #9E59DC;
  }
}
.content_accueil {
  opacity: 0;
  animation: fadeIn 1s ease 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.menu {
  overflow-x: hidden;
}

.check_price {
  display: flex;
  position: absolute;
  right: -80px;
  top: 0px;
  height: 86px;
  opacity: 0;
}
.check_price .icon_check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  background-color: #99E2D0;
  width: 75px;
  border-radius: 0 20px 20px 0;
}

.dish:hover .check_price {
  transform: translateX(-75px);
  transition: transform 0.4s ease-out;
  opacity: 1;
}

.dish:hover .dish--price {
  transform: translateX(-75px);
  transition: transform 0.4s ease-out;
}

.dish:hover .dish--description {
  width: calc(90% - 75px);
}

@media screen and (min-width: 768px) {
  header .logo {
    height: 30px;
    margin: 20px 0 20px 15px;
  }
  /**** RECHERCHE VILLE ****/
  .section_ville {
    filter: none;
  }
  .section_ville .icon_location {
    font-size: 15px;
  }
  .section_ville .ville {
    font-size: 16px;
    font-weight: 500;
  }
  /**** EXPLORE ****/
  .section_explore {
    padding-bottom: 30px;
  }
  .section_explore .section_explore--title {
    font-size: 40px;
  }
  .section_explore .section_explore--p {
    font-size: 20px;
    padding-top: 25px;
    margin: 0;
  }
  .section_explore .btn_explore {
    font-size: 15px;
    padding: 13px;
  }
  /**** FONCTIONNEMENT ****/
  .fonctionnement {
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .fonctionnement .fonctionnement--title {
    margin: 10px 0 0 0;
    font-size: 25px;
  }
  .fonctionnement .fonctionnement--list {
    gap: 40px;
    padding-left: 20px;
  }
  .fonctionnement .fonctionnement--list .fonctionnement_link {
    width: 100%;
  }
  .fonctionnement .fonctionnement--list .fonctionnement_link .fonctionnement_link--number {
    width: 30px;
    height: 30px;
    font-size: 25px;
    top: 40px;
  }
  .fonctionnement .fonctionnement_link--btn {
    font-size: 15px;
    padding: 17px;
    justify-content: center;
  }
  .fonctionnement .fonctionnement_link--btn .fonctionnement_link--icon {
    font-size: 20px;
    margin-right: 30px;
  }
  /**** RESTAURANTS ****/
  .restaurants {
    padding-left: 130px;
    padding-right: 130px;
  }
  .restaurants .restaurants_title {
    margin: 0;
    padding-top: 20px;
    font-size: 25px;
  }
  .restaurants .restaurant_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants .restaurant_cards .restaurant_cards--link {
    width: 50%;
    justify-content: flex-end;
  }
  .card {
    padding: 0;
    width: 530px;
    border-radius: 15px;
    margin: 60px 0 0 0;
  }
  .card img {
    height: 240px;
    width: 530px;
    border-radius: 15px 15px 0 0;
  }
  .card .card_new {
    font-size: 15px;
    right: 30px;
  }
  .card-txt--title {
    font-size: 25px;
  }
  .card-ville {
    font-size: 15px;
    margin-bottom: 20px;
  }
  /**** HEART ****/
  .heart-container {
    left: 470px;
    top: 330px;
  }
  .heart-container .heart-icon {
    font-size: 20px;
  }
  .heart-container .heart-icon-fill {
    font-size: 20px;
    left: -150px;
  }
  /**** FOOTER ****/
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer .logo_footer {
    padding: 0 10px 30px 90px;
  }
  footer .list_footer {
    display: flex;
    gap: 30px;
    margin: 90px 0 30px 20px;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  .section_explore .btn_explore {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  /**** EXPLORE ****/
  .section_explore .btn_explore {
    width: 20%;
  }
  /**** FONCTIONNEMENT ****/
  .fonctionnement {
    margin-bottom: 30px;
  }
  .fonctionnement .fonctionnement--list {
    display: flex;
  }
  .fonctionnement .fonctionnement--list .fonctionnement_link {
    width: 100%;
    padding: 5px;
  }
  .fonctionnement .fonctionnement--list .fonctionnement_link .fonctionnement_link--number {
    width: 22px;
    height: 20px;
    font-size: 17px;
    top: 36px;
  }
  .fonctionnement .fonctionnement--list .fonctionnement_link .fonctionnement_link--btn .fonctionnement_link--icon {
    font-size: 13px;
    margin-right: 9px;
  }
  /**** RESTAURANTS ****/
  .restaurants .restaurant_cards {
    margin: 0;
    justify-content: space-between;
  }
  .card {
    padding: 0;
    width: 100%;
    border-radius: 15px;
  }
  .card img {
    height: 240px;
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .card .card_new {
    font-size: 15px;
    right: 30px;
  }
  .card-txt--title {
    font-size: 25px;
  }
  .card-ville {
    font-size: 15px;
  }
  /**** HEART ****/
  .heart-container {
    left: 450px;
    top: 330px;
  }
  .heart-container .heart-icon {
    font-size: 20px;
    right: 150px;
  }
  .heart-container .heart-icon-fill {
    font-size: 20px;
    top: -23px;
  }
  /**** FOOTER ****/
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer .logo_footer {
    padding: 0 10px 30px 90px;
  }
  footer .list_footer {
    display: flex;
    gap: 30px;
    margin: 90px 0 30px 0;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .image_restaurant img {
    height: 400px;
  }
  .menu {
    margin-left: 140px;
    width: 60%;
    padding-left: 150px;
    padding-right: 150px;
  }
  .restaurant_heart {
    text-align: center;
  }
  .restaurant_heart .heart-container_ficherestau {
    left: 500px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1250px) {
  .menu {
    left: 0px;
    width: 50%;
    padding-left: 120px;
    padding-right: 120px;
  }
  .dish {
    text-overflow: ellipsis;
  }
  .dish .dish--description2 {
    text-overflow: ellipsis;
  }
}
.all_cards {
  position: relative;
}

.heart-container {
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 45px;
  z-index: 1;
}
.heart-container .heart-icon {
  position: relative;
  font-size: 22px;
  color: black;
  opacity: 1;
}
.heart-container .heart-icon-fill {
  position: relative;
  font-size: 22px;
  opacity: 0;
  right: 26px;
  transition: 0.6s ease-in;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.heart-container .heart-icon-fill:hover {
  opacity: 1;
}
.heart-container .heart-icon-fill:not(:hover) {
  opacity: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
}/*# sourceMappingURL=index.css.map */