.logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.header_section {
  display: flex;
  justify-content: center;
}
.header_section .header_section--img {
  height: 40px;
  margin-top: 20px;
}
.header_section a {
  color: black;
}
.header_section .header_section--icon {
  position: absolute;
  left: 30px;
  margin-top: 20px;
  font-size: 27px;
}

footer {
  background-color: #353535;
  color: white;
  margin: 0;
  padding: 20px;
}
footer .logo_footer {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
  margin-left: 15px;
  margin-top: 50px;
  width: 130px;
}
footer .list_footer {
  list-style: none;
  font-size: 20px;
  padding: 0;
  margin-left: 15px;
}
footer .list_footer li {
  margin-bottom: 10px;
}
footer .list_footer .icon_footer {
  font-size: 20px;
  margin-right: 10px;
}

.section_explore {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 80px;
}
.section_explore .section_explore--title {
  margin-bottom: 0;
  font-size: 70px;
}
.section_explore .section_explore--p {
  font-size: 50px;
}
.section_explore .btn_explore {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 35px;
  border-radius: 50px;
  padding: 30px 30px 30px 30px;
  color: white;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 1px -1px 22px 5px rgba(128, 117, 117, 0.3);
}
.section_explore .btn_explore:hover {
  background: linear-gradient(#ED87D1, #B876E0);
  box-shadow: 0px 6px 39px 22px rgba(0, 0, 0, 0.1);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 40px 40px 40px 40px;
}
.fonctionnement .fonctionnement--title {
  font-size: 35px;
  margin-left: 15px;
  margin-top: 150px;
}
.fonctionnement .fonctionnement--list {
  list-style: none;
}

.fonctionnement_link--number {
  position: relative;
  top: 110px;
  right: 20px;
  border: 1px solid black;
  border-radius: 50px;
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 35px;
  background: #9356DC;
  color: white;
}

.fonctionnement_link--btn {
  width: 100%;
  padding: 55px;
  padding-left: 0px;
  font-size: 45px;
  border-radius: 40px;
  border: none;
  background-color: #F6F6F6;
  box-shadow: 1px -1px 22px 5px rgba(128, 117, 117, 0.3);
}
.fonctionnement_link--btn .fonctionnement_link--icon {
  color: gray;
  font-size: 60px;
  position: relative;
  margin-right: 80px;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 40px;
}
.restaurants .restaurants_title {
  font-size: 35px;
  margin-left: 15px;
  margin-top: 150px;
  padding-top: 90px;
}
.restaurants .restaurant_cards--link {
  text-decoration: none;
}

.card {
  background-color: white;
  margin: 60px 60px 60px 60px;
  border-radius: 30px;
  padding-bottom: 20px;
  position: relative;
}
.card .card_new {
  position: absolute;
  color: #008766;
  font-size: 30px;
  background-color: #99E2D0;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  right: 90px;
}
.card img {
  width: 100%;
  height: 450px;
  border-radius: 30px 30px 0 0;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-txt--title {
  font-size: 40px;
  margin-left: 20px;
  color: black;
  margin-bottom: 15px;
}

.card-ville {
  color: black;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 0;
}

.heart-container {
  display: inline-block;
  position: relative;
  margin-right: 70px;
}
.heart-container .heart-icon {
  font-size: 50px;
  color: black;
  position: absolute;
  opacity: 1;
}
.heart-container .heart-icon-fill {
  font-size: 50px;
  position: relative;
  opacity: 0;
  transition: 0.6s ease-in;
}
.heart-container .heart-icon-fill:hover {
  opacity: 1;
}
.heart-container .heart-icon-fill:not(:hover) {
  opacity: 0;
}

.section_ville--element {
  display: flex;
  align-items: center;
}

.section_ville {
  background-color: #EAEAEA;
  margin-top: 30px;
  box-shadow: 0px 15px 66px 3px rgb(115, 110, 115);
  display: flex;
  justify-content: center;
}
.section_ville .icon_location {
  font-size: 35px;
  padding-right: 30px;
}
.section_ville .ville {
  font-size: 40px;
  font-weight: 500;
}

.image_restaurant {
  margin-top: 20px;
  position: relative;
}
.image_restaurant img {
  width: 100%;
  height: 280px;
}

.menu {
  padding-top: 20px;
  border-radius: 50px;
  background-color: #F2F2F2;
  width: 100%;
  position: absolute;
  top: 33%;
}
.menu .restaurant_name {
  margin-bottom: 50px;
  font-size: 35px;
  margin-left: 15px;
}
.menu .heart-icon {
  position: absolute;
  right: 50px;
}

/*
.heart-container {
    display: inline-block;
    position: relative;
    margin-right: 70px;
    .heart-icon {
        font-size: 50px;
        color: black; 
        position: absolute;
        opacity: 1;
    } 
    .heart-icon-fill {
        font-size: 50px;
        position: relative;
        opacity: 0;
        transition: 0.6s ease-in;
        &:hover {
            opacity: 1;
        }
        &:not(:hover) {
            opacity: 0; 
        }
    }
}
*/
@keyframes fondu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.entrees {
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0;
  animation: fondu 1s forwards;
  animation-delay: 1s;
}
.entrees .entrees--title {
  margin-bottom: 5px;
  font-size: 20px;
}

.dish {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  border-radius: 23px;
  position: relative;
  box-shadow: 1px -1px 22px 5px rgba(128, 117, 117, 0.3);
}
.dish .dish--title {
  margin: 0 0 5px 0;
  font-size: 20px;
}
.dish .dish--description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.dish .dish--description p {
  margin: 0;
}

.plats {
  margin: 50px 15px 30px 15px;
  opacity: 0;
  animation: fondu 1s forwards;
  animation-delay: 2s;
}
.plats .plats--title {
  margin-bottom: 5px;
  font-size: 20px;
}

.desserts {
  margin: 50px 15px 30px 15px;
  opacity: 0;
  animation: fondu 1s forwards;
  animation-delay: 3s;
}
.desserts .desserts--title {
  margin-bottom: 5px;
  font-size: 20px;
}

.custom-hr {
  border: none;
  border-bottom: 4px solid #99E2D0;
  width: 15%;
  margin-left: 0;
  padding-top: 0px;
  margin-top: 0;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 40px 0;
}
.btn_container .btn_commander {
  width: 200px;
  font-size: 20px;
  border-radius: 25px;
  padding: 15px 20px 15px 20px;
  color: white;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
}
.btn_container .btn_commander:hover {
  background: linear-gradient(#ED87D1, #B876E0);
  box-shadow: 0px 6px 39px 22px rgba(0, 0, 0, 0.1);
}

/***** coche de validation du plat *****/
.accroche_loader {
  font-size: 40px;
  width: 150%;
  text-align: center;
}

.loader {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  position: absolute;
  animation: fadeOut 1s ease 3s forwards;
  left: 30%;
  bottom: 5%;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid #9E59DC;
  padding: 4px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #9E59DC;
  border-radius: 10px;
  animation: animate 3s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    background-color: #E985D2;
  }
  50% {
    width: 50%;
    background-color: #E985D2;
  }
  100% {
    width: 100%;
    background-color: #9E59DC;
  }
}
.content_accueil {
  display: block;
  opacity: 0;
  animation: fadeIn 1s ease 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.menu {
  overflow-x: hidden;
}

.check_price {
  display: flex;
  position: absolute;
  right: -80px;
  top: 0px;
  height: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  opacity: 0;
}
.check_price .icon_check {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  background-color: #99E2D0;
  width: 75px;
  border-radius: 0 20px 20px 0;
}

.dish:hover .check_price {
  transform: translateX(-80px);
  transition: transform 0.4s ease-out;
  opacity: 1;
}

.dish:hover .price {
  transform: translateX(-80px);
  transition: transform 0.4s ease-out;
}

@media screen and (min-width: 1024px) {
  header .logo {
    height: 30px;
    margin: 20px 0 0 15px;
  }
  /**** RECHERCHE VILLE ****/
  .section_ville {
    box-shadow: none;
  }
  .section_ville .icon_location {
    font-size: 15px;
  }
  .section_ville .ville {
    font-size: 16px;
    font-weight: 500;
  }
  /**** EXPLORE ****/
  .section_explore {
    padding-bottom: 30px;
  }
  .section_explore .section_explore--title {
    font-size: 40px;
  }
  .section_explore .section_explore--p {
    font-size: 20px;
    padding-top: 25px;
    margin: 0;
  }
  .section_explore .btn_explore {
    font-size: 15px;
    padding: 13px;
    width: 20%;
  }
  /**** FONCTIONNEMENT ****/
  .fonctionnement {
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .fonctionnement .fonctionnement--title {
    margin: 10px 0 0 0;
    font-size: 25px;
  }
  .fonctionnement .fonctionnement--list {
    display: flex;
    gap: 40px;
    padding-left: 20px;
  }
  .fonctionnement .fonctionnement--list .fonctionnement_link {
    width: 100%;
  }
  .fonctionnement .fonctionnement--list .fonctionnement_link .fonctionnement_link--number {
    width: 30px;
    height: 30px;
    font-size: 25px;
    top: 40px;
  }
  .fonctionnement .fonctionnement_link--btn {
    font-size: 15px;
    padding: 17px;
    justify-content: center;
  }
  .fonctionnement .fonctionnement_link--btn .fonctionnement_link--icon {
    font-size: 20px;
    margin-right: 30px;
  }
  /**** RESTAURANTS ****/
  .restaurants {
    padding-left: 130px;
    padding-right: 130px;
  }
  .restaurants .restaurants_title {
    margin: 0;
    padding-top: 20px;
    font-size: 25px;
  }
  .restaurants .restaurant_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurants .restaurant_cards .restaurant_cards--link {
    width: 50%;
    justify-content: flex-end;
  }
  .card {
    padding: 0;
    width: 500px;
    border-radius: 15px;
  }
  .card img {
    height: 200px;
    width: 500px;
    border-radius: 15px 15px 0 0;
  }
  .card .card_new {
    font-size: 15px;
    right: 30px;
  }
  .card-txt--title {
    font-size: 25px;
  }
  .card-ville {
    font-size: 15px;
  }
  .heart-container {
    margin-right: 20px;
  }
  .heart-container .heart-icon {
    font-size: 25px;
  }
  .heart-container .heart-icon-fill {
    font-size: 25px;
  }
  /**** FOOTER ****/
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer .logo_footer {
    padding: 0 0 10px 90px;
  }
  footer .list_footer {
    display: flex;
    gap: 30px;
    margin: 0;
  }
}
.all_cards {
  position: relative;
}

.heart-container {
  display: inline-block;
  position: absolute;
  margin-right: 70px;
  right: 30px;
  bottom: 100px;
  z-index: 1;
}
.heart-container .heart-icon {
  font-size: 30px;
  color: black;
  opacity: 1;
}
.heart-container .heart-icon-fill {
  font-size: 30px;
  opacity: 0;
  transition: 0.6s ease-in;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.heart-container .heart-icon-fill:hover {
  opacity: 1;
  background-image: linear-gradient(#FF79DA, #9356DC);
}
.heart-container .heart-icon-fill:not(:hover) {
  opacity: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=index.css.map */