
footer {
    position: relative;
    background-color: #353535;
    color: white;
    margin: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    .logo_footer {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(100%) contrast(100%);
        margin-left: 15px;
        margin-top: 30px;
        width: 130px;
    }
    .list_footer {
        list-style: none;
        font-size: 20px;
        padding: 0;
        margin-left: 15px;
        li {
            gap: 10px;
        }
        .icon_footer {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}
