.all_cards {
    position: relative;
}

.heart-container {
    display: inline-block;
    position: absolute;
    margin-right: 70px;
    right: 30px;
    bottom: 100px;
    z-index: 1;
    .heart-icon {
        font-size: 30px;
        color: black; 
        opacity: 1;
    } 
    .heart-icon-fill {
        font-size: 30px;
        opacity: 0;
        transition: 0.6s ease-in;
        background: $background-heart;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        &:hover {
            opacity: 1;
        }
        &:not(:hover) {
            opacity: 0; 
        }
    }
}

