.accroche_loader {
    font-size: 40px;
    width: 150%;
    text-align: center;
}

.loader {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    position: absolute;
    animation: fadeOut 1s ease 3s forwards;
    left: 30%;
    bottom: 5%;
}

@keyframes fadeOut {
    to { opacity: 0; }
}

.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #9E59DC;
    padding: 4px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #9E59DC;
    border-radius: 10px;
    animation: animate 3s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        background-color: #E985D2;
    }
    50% {
        width: 50%;
        background-color: #E985D2;
    }
    100% {
        width: 100%;
        background-color: #9E59DC;
    }
}

.content_accueil {
    display: block;
    opacity: 0;
    animation: fadeIn 1s ease 3s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

