@media screen and (min-width: 1024px) {

    .image_restaurant {
        img {
            height: 400px;
        }
    }

    .menu {
        margin-left: 140px;
        width: 60%;
        padding-left: 150px;
        padding-right: 150px;
    }

    .restaurant_heart {
        text-align: center;
        .heart-container_ficherestau {
            left: 500px;
        }
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1250px) {
        .menu {
            left: 0px;
            width: 50%;
            padding-left: 120px;
            padding-right: 120px;
        }

        .dish {
            text-overflow: ellipsis;
            .dish--description2 {
                text-overflow: ellipsis;
            }
        }
    }


