@media screen and (min-width: 1024px) {

    .image_restaurant {
        img {
            height: 400px;
        }
    }

    .menu {
        margin-left: 140px;
        width: 60%;
        padding-left: 150px;
        padding-right: 150px;
    }

    .restaurant_heart {
        text-align: center;
        .heart-container_ficherestau {
            left: 390px;
        }
    }
}



/**** TABLETTE ****/
@media only screen and (min-device-width : 765px) and (max-device-width : 1024px) {
        .menu {
            left: 150px;
            width: 45%;
            padding-left: 120px;
            padding-right: 120px;
        }

        .dish {
            text-overflow: ellipsis;
        }

        .restaurant_heart {
            .restaurant_name {
                text-align: center;
            }
            .heart-container_ficherestau {
                right: 20px;
            }
        }
    }




@media only screen and (min-device-width : 1024px) and (max-device-width : 1250px) {
        .menu {
            left: 0px;
            width: 50%;
            padding-left: 120px;
            padding-right: 120px;
        }

        .dish {
            text-overflow: ellipsis;
            .dish--description2 {
                text-overflow: ellipsis;
            }
        }
    }


