.fonctionnement {
    display: flex;
    flex-direction: column;
    margin: 40px 15px 40px 15px;
    .fonctionnement--title {
        @include size-title;
        margin: 25px 0 0 0;
    }
    .fonctionnement--list {
        list-style: none;
        padding: 0;
        margin-left: 20px;
    }
}

.fonctionnement_link--number {
    position: relative;
    right: 15px;
    border: 1px solid black;
    border-radius: 50px;
    border: none;
    text-align: center;
    background: #9356DC;
    color: white;
    width: 26px;
    height: 25px;
    font-size: 20px;
    top: 54px;
}   

.fonctionnement_link--btn {
    width: 100%;
    border-radius: 17px;
    border: none;
    background-color: $background-btn;
    @include border-shadow;
    font-size: 17px;
    padding: 30px;
    
    .fonctionnement_link--icon {
        color: gray;
        position: relative;
        font-size: 20px;
        margin-right: 30px;
    }
}

.fonctionnement_link--btn:hover .fonctionnement_link--icon {
    color: #9357DC;
}
