.section_explore {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 65px;
    .section_explore--title {
        margin: 30px 20px 0 20px;
        @include size-title;
    }
    .section_explore--p {
        font-size: 18px;
        font-weight: 300;
    }
    .btn_explore {
        @include btn;
        &:hover {
            @include hover_btn;
        }
    }
}




