.restaurants {
    background-color: $background-btn;
    padding-bottom: 40px;
    .restaurants_title {
        @include size-title;
        margin-left: 60px;
        margin-top: 150px;
        padding-top: 90px;
    }
    .restaurant_cards--link {
        text-decoration: none;
    }
}

.card {
    background-color: white;
    margin: 60px 60px 60px 60px;
    border-radius: 30px;
    padding-bottom: 20px;
    position: relative;
    .card_new {
        position: absolute;
        color: #008766;
        font-size: 30px;
        background-color: #99E2D0;
        padding: 10px 25px 10px 25px;
        border-radius: 5px;
        right: 90px;
    }
    img {
        width: 100%;
        height: 450px;
        border-radius: 30px 30px 0 0;
    }
}


.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-txt--title {
    font-size: 40px;
    margin-left: 20px;
    color: black;
    margin-bottom: 15px;
}

.card-ville {
    color: black;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 0;
}




.heart-container {
    display: inline-block;
    position: relative;
    margin-right: 70px;
    .heart-icon {
        font-size: 50px;
        color: black; 
        position: absolute;
        opacity: 1;
    } 
    .heart-icon-fill {
        font-size: 50px;
        position: relative;
        opacity: 0;
        transition: 0.6s ease-in;
        &:hover {
            opacity: 1;
        }
        &:not(:hover) {
            opacity: 0; 
        }
    }
}
