.section_explore {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F6F6F6;
    padding-bottom: 80px;
    .section_explore--title {
        margin-bottom: 0;
        font-size: 70px;
    }
}

.section_explore--p {
    font-size: 50px;
}

.btn_explore {
    @include btn;
}

.btn_explore:hover {
    @include hover_btn;
}
