.restaurants {
    background-color: $background-btn;
    padding-bottom: 40px;
    .restaurants_title {
        @include size-title;
        margin-left: 20px;
        margin-top: 70px;
        padding-top: 60px;
    }
    .restaurant_cards--link {
        text-decoration: none;
    }
}

.card {
    background-color: white;
    margin: 15px 20px 25px 20px;
    border-radius: 15px;
    padding-bottom: 20px;
    position: relative;
    .card_new {
        position: absolute;
        color: #008766;
        font-size: 14px;
        background-color: #99E2D0;
        padding: 8px 15px 8px 15px;
        border-radius: 2px;
        right: 18px;
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
}


.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-txt--title {
    font-size: 18px;
    color: black;
    margin: 20px 0 5px 15px;
}

.card-ville {
    color: black;
    font-size: 17px;
    margin: 0 0 5px 15px;
}


.heart-container {
    .heart-icon {
        position: absolute;
        opacity: 1;
    } 
    .heart-icon-fill {
        position: relative; /*relative anciennement*/
        opacity: 0;
        transition: 0.6s ease-in;
        &:hover {
            opacity: 1;
        }
        &:not(:hover) {
            opacity: 0; 
        }
    }
}
