.section_ville--element {
    display: flex;
    align-items: center;
}


.section_ville {
    background-color: #EAEAEA;
    margin-top: 30px;
    box-shadow: 0px 15px 66px 3px rgba(115,110,115,1);
    display: flex;
    justify-content: center;
        .icon_location {
            font-size: 35px;
            padding-right: 30px;
        }
        .ville {
            font-size: 40px;
            font-weight: 500;
        }
}